html {
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  background-color: #ddd;
}

.logo {
  max-width: 200px;
}

.search {
  color: #fff;
}

.search-bar {
  border: 2px solid #777;
  background-color: #fff;
  max-height: 1.75em;
}

.search-bar-icon {
  max-height: 1em;
  text-align: left;
}

.light-grey {
  background-color: #efefef;
  max-width: 240px;
}

.boxes {
  background-color: #fff;
  border-radius: 2px;
}

table {
  min-width: 700px;
  max-width: 1000px;
}

th,
td,
.park-type,
.park-id {
  max-width: 60px;
}

@media only screen and (min-width: 25em) {

  header,
  .light-grey {
    min-width: 600px;
  }

}

@media only screen and (min-width: 38em) {

  .light-grey {
    min-width: 50px;
  }

  header {
    min-width: 800px;
  }

}

@media only screen and (min-width: 60em) {

  table {
    width: 900px;
  }

}
