html {
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  background-color: #ddd;
  min-width: 600px;
}

.logo {
  max-width: 200px;
}

.search {
  color: #fff;
}

.search-bar {
  border: 2px solid #777;
  background-color: #fff;
  max-height: 2em;
  min-width: 400px;
}

.search-bar-icon {
  max-height: 1em;
}

.light-grey {
  background-color: #efefef;
  min-width: 600px;
}

.boxes {
  background-color: #fff;
  border-radius: 2px;
}

table {
  min-width: 700px;
  max-width: 920px;
}

th,
td,
.park-type,
.park-id {
  max-width: 60px;
}
