html {
  font-family: "IBM Plex Sans", sans-serif;
}

header {
  background-color: #ddd;
}

.logo {
  max-width: 200px;
}

.search-bar {
  border: 2px solid #bbb;
  background-color: #fff;
}

.search-bar-icon {
  max-height: 1.5em;
}

.light-grey {
  background-color: #efefef;
}

.boxes {
  background-color: #fff;
  border-radius: 2px;
}
